body{
	background: #f5f5f5	;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.image-body{

	position: fixed;
	z-index: -1;
	margin: 0px;
	padding: 0px;
	margin: auto;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(0.7);
	-webkit-filter: brightness(0.7);
	
}

.column-sign-up{
	display: flex;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.background-color-div-form{
	width: 100%;
	height: 660px;
	background: white;
	margin: 0;
	padding: 0;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 3px;
}

.div-colors-primary-accent{
	margin:0;
	padding: 0;
}

.color-primary{
 	
 	width: 100%;
	height: 660px;
	background: #3F51B5;
	-webkit-clip-path: polygon(100% 0, 0 0, 0 1800px);
	clip-path: polygon(100% 0, 0 0, 0 1800px);
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	z-index: 1;
	position: absolute;
}

.color-accent{
 	
 	width: 100%;
	height: 660px;
	background: #FF4081;
	-webkit-clip-path: polygon(61.5%  0, 0 100%, 100% 100%);
	clip-path: polygon(61.5%  0, 0 100%, 100% 100%);
	position: relative;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.form{
	margin-top: 30px;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
}

.div-input-form-sign-up{
	width: 100%;
}

.btn-submit-sign-up{
	margin-top: 10px;
}

#color-btn-sign-up{
	background: #FF4081;
}

.btn-sign-in{
	margin-bottom: -60px;
}

#label-input-form-sign-up{
	margin-bottom: 0px;
}

